.card-profile-dead {
  width: 150px;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  color: #f1f1f1;
  font-weight: bold;
  margin: 10px;
}
.card-profile-alive {
  width: 150px;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  color: #f1f1f1;
  font-weight: bold;
  margin: 10px;
}
.card-profile-unknown {
  width: 150px;
  background-color: rgb(87, 87, 83);
  padding: 10px;
  border-radius: 10px;
  color: #f1f1f1;
  font-weight: bold;
  margin: 10px;
}

img {
  width: 150px;
}
.characters-list {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  color: #ffff;
  margin: 10px;
}
body {
  background-color: black;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
